*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: black;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  margin: 0px auto;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.inner-header {
  height: 80px;
  margin: 0 auto;
}

header {
  height: 800px;
}

nav {
  height: 100%;
  float: right;
}

#navbar ul li {
  display: inline;
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
  top: 25px;
}

#navbar ul li:hover {
  border: 1px solid #7f8fa6;
  border-radius: 10px;
  padding: 5px;
  transition: 0.5s;
}

#welcome-section {
  text-align: center;
  position: relative;
  top: 30%;
}

.intro {
  font-size: 40px;
}

.intro p {
  line-height: 1.3em;
  letter-spacing: 1px;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
}

#social ul li {
  display: inline;
  padding: 20px 30px;
  font-size: 25px;
}


/* PROJECTS SECTION **/


#projects {
  height: auto;
  width: 100%;
}

.project-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.project-boxes {
  padding: 100px;
  display: flex;
  flex-direction: column;
}

.box-1 {

}

.box-2 {
align-self: flex-end;
}

.box-3 {
  
}


.project_img {
  border-radius: 5px;
}


/* footer section **/

footer {
  height: 230px;
  background-color: #1e272e;
}

.action-call {
  display: block;
  text-align: center;
  line-height: 80px;
  justify-content: space-evenly;  
}

.action-call h2 {
  color: white;
  font-family: sans-serif;
  font-weight: 200;
}

.action-call a {
  color: #f5f6fa;
  padding: 15px 50px;
  border: 1px solid #7f8fa6;
}

.action-call a:hover {
  background-color: #f5f6fa;
  color: #1e272e;
  font-size: 20px;
  transition: 0.5s;
}

.copyrights {
  text-align: center;
  color: #f5f6fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 14px;
  position: relative;
  top: 50px;
}