* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: black;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

header {
	height: 100vh;
}

// NAVIGATION GOES HERE
.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 10vh;
}

.navigation ul {
  display: flex;
  align-items: center;
  height: 100%;
  li {
    padding-right: 25px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

// WELCOME SECTION GOES HERE
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  height: 90vh;
}

.intro_text {
	font-size: 40px;
  line-height: 1.3em;
  letter-spacing: 1px;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  display: inline;
  margin: 20px 30px;
  font-size: 25px;
  transition: 300ms;
  i {
	 transition: 300ms;
	 &:hover {
		color: #05c46b;
		transition: 300ms;
	 }
  }
}

// PROJECTS GO HERE
.projects_container {
	background: linear-gradient(0.25turn, #3f87a6, #ebf8e1);
	height: 740px;
	padding: 40px 0;
}

.projects_title {
	text-align: center;
	// padding-top: 40px;
	font-size: 35px;
	letter-spacing: 1px;
	font-weight: 200;
	font-family: Arial, Helvetica, sans-serif;
}

.projects_wrapper {
  height: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  // flex-wrap: wrap;
}

.first_line {
  display: flex;
  justify-content: space-evenly;
}

.second_line {
  display: flex;
  justify-content: space-evenly;
}

img {
  border-radius: 4px;
  width: 350px;
  height: 220px;
  margin: 20px;
  cursor: pointer;
  transition: 300ms;
  &:hover {
    opacity: .7;
    transition: 300ms;
  }
}



// FOOTER GOES HERE
.footer-container {
  height: 175px;
  background-color: #1e272e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.footer_heading-text {
  color: white;
  font-family: sans-serif;
  font-weight: 200;
}

.footer_button {
  color: #f5f6fa;
  padding: 15px 50px;
  border: 1px solid #7f8fa6;
  transition: 500ms;
  &:hover {
    background-color: #f5f6fa;
    color: #1e272e;
    transition: 500ms;
  }
}

.copyrights {
  text-align: center;
  padding: 3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  background-color: #1e272e;
  .copyrights_text {
    color: #f5f6fa;
    font-size: 14px;
  }
}
