* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
  
.container {
  width: 100%;
  margin: 0px auto;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.inner-header {
  height: 80px;
  margin: 0 auto;
}

header {
  height: 800px;
}

nav {
  height: 100%;
  float: right;
}

.nav-link {
  display: inline;
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
  top: 25px;
}

#navbar a:hover {
  border-bottom: 2px solid #05c46b;
  transition: 500ms;
}

#welcome-section {
  text-align: center;
  position: relative;
  top: 30%;
}

.intro {
  font-size: 40px;
}

.intro p {
  line-height: 1.3em;
  letter-spacing: 1px;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
}

#social a {
  display: inline;
  margin: 20px 30px;
  font-size: 25px;
}

#social a i:hover {
  color: #05c46b;
  transition: 500ms;
}


/* PROJECTS SECTION **/


#projects {
  height: auto;
  width: 100%;
}

.project-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.project-section {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}

.box-1 {
  padding: 30px 0;
}

.box-2 {
  padding: 30px 0;
  .slideshow {
      float: right;
  }
}

.box-3 {
  padding: 30px 0;
}


/* FOOTER GOES HERE */
footer {
  height: 200px;
  background-color: #1e272e;
}

.footer-content {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.footer_heading {
  margin-top: 20px;
}

.footer_heading-text {
  color: white;
  font-family: sans-serif;
  font-weight: 200;
}

.footer_button {
  color: #f5f6fa;
  padding: 15px 50px;
  border: 1px solid #7f8fa6;
  transition: 500ms;
  &:hover {
    background-color: #f5f6fa;
    color: #1e272e;
    transition: 500ms;
  }
}
  
.copyrights {
  color: #f5f6fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 14px;
}
