.about-me {
	/* background-color: #0c2461; */
	background-color: #6687e1;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 40px 20px;
	height: 390px;
	margin: 20px 0;
}

.profile_picture {
	height: 300px;
	width: 300px;
	border-radius: 50%;
}

.text-wrapper {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	color: #fff;
}


