.tech_container {
	width: 55%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	margin: 50px auto;
	min-height: 500px;
}

.typography_container {
	text-align: center;
	width: 80%;
	margin-bottom: 60px;
}

.icon_wrapper {
	text-align: center;
}

.fab.fa-html5,
.fab.fa-css3-alt,
.fab.fa-sass,
.fab.fa-js-square,
.fab.fa-react,
.fab.fa-node-js {
	font-size: 100px;
}

.grid {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(3, 100px);
}
