.welcomeSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	text-align: end;
	height: 93%;
	width: 98%;
	margin: 0 auto;
}

.navBar-ul {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}

.li {
	opacity: 0.9;
	font-size: 65px;
	text-decoration: none;
	cursor: pointer;
	margin-left: 15px;
	list-style: none;
	transition: all 300ms ease;
}

.li:hover {
	text-decoration: underline;
	text-decoration-color: #74b9ff;
}

.down-button {
	position: absolute;
	top: 95%;
	left: 49%;
	background: none;
	border: none;
}

.social-icons {
	padding-top: 15px;
}
