.work {
	display: flex;
	flex-direction: column;
	height: 550px;
	justify-content: space-around;
}

.work_container {
	display: flex;
}

.work_heading {
	display: flex;
	justify-content: center;
	opacity: 0.9;
}

.projects {
	display: flex;
	align-items: center;
	width: 70%;
}


.project_list-container {
	display: flex;
	width: 30%;
	justify-content: flex-end;
	align-items: center;
}

.projects_ul {
	width: 60%;
	display: flex;
	flex-direction: column;
}

.projects-li {
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	opacity: 0.5;
	padding: 30px 0 30px 15px;
	border-left: 1px solid lightgray;
	cursor: pointer;
	text-decoration: none;
}

.project--active {
	font-weight: 700;
	opacity: 1;
	border-left: 1px solid #000;
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	padding: 30px 0 30px 15px;
	cursor: pointer;
	text-decoration: none;
}

.project-container {
	height: 350px;
	padding: 25px;
	display: flex;
	background-color: #0a3d62;
}

.project_details {
	display: flex;
	justify-content: flex-end;
	color: #fff;
}

.project_text-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 20px;
}


/* BUTTON STYLES */

